#recipe {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

#recipe td, #recipe th {
  border: 1px solid #ddd;
  padding: 8px;
}

#recipe td {
  width: 20%;
}

#title h1 {
  text-align: center;
}

#recipe tr:nth-child(even){background-color: #f2f2f2;}

#recipe :hover {background-color: #ddd;}

#recipe th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}